body {
	background-color: #23241f;
	color: #fff;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
}

.jumbotron {
	text-align: center;
	margin-bottom: 0px;
	background-color: #23241f;
}

.jumbotron.header {
	text-transform: uppercase;
}

.jumbotron.about {
}

.jumbotron.footer {
}

a.social img {
	text-align: center;
	width: 40px;
	height: 40px;
}

.jumbotron h1 {
}

h3.special {
	text-decoration: line-through;
	color: #e6db74;
}

span.pinkcode {
	color: #f92672;
}

span.purplecode {
	color: #ae81ff;
}

span.orangecode {
	color: #fd9720;
}

span.bluecode {
	color: #66d9ef;
}

p.code {
	font-size: 10px;
}